

    /* Estilos para telas menores que 600px */
    @media (max-width: 600px) {
        form {
            max-width: 300px;
        }
    }

    @media (max-width: 600px) {
        .logo {
            max-width: 300px;
        }
    }
  
    @media (max-width: 400px) {
        .logo {
            max-width: 350px;
        }
    }


@media (max-width: 400px) {
        form {
            max-width: 250px;
        }
    }
    /* Estilos para telas menores que 400px */
    @media (max-width: 400px) {
        form {
            max-width: 250px;
        }
    }

    @media (max-width: 400px) {
        form {
            max-width: 350px;
        }
    }